! xrdb -merge .Xresources

! Pink/blue
!*.foreground:   #ffffff
!*.background:   #000000
!*.cursorColor:  #adadad
!*.color0:       #211a22
!*.color8:       #61596d
!*.color1:       #9a6172
!*.color9:       #32598b
!*.color2:       #67628a
!*.color10:      #996c93
!*.color3:       #d961cd
!*.color11:      #a8c0d1
!*.color4:       #758692
!*.color12:      #61596d
!*.color5:       #9a6472
!*.color13:      #32598b
!*.color6:       #67628a
!*.color14:      #996c93
!*.color7:       #d961cd
!*.color15:      #a8c0d1

! Yellow/orange
*.foreground:   #d3d3d3
*.background:   #000000
*.cursorColor:  #ebc793
*.color0:       #382c2f
*.color8:       #ac9377
*.color1:       #48393a
*.color9:       #baa17e
*.color2:       #65534d
*.color10:      #bca282
*.color3:       #79665a
*.color11:      #c1a67e
*.color4:       #836e5e
*.color12:      #cfb48e
*.color5:       #8e7766
*.color13:      #d1baa3
*.color6:       #917781
*.color14:      #dfc39b
*.color7:       #9a846d
*.color15:      #eed8c4

! WIP
!*.foreground:   #000000
!*.background:   #f4f1e4
!*.cursorColor:  #000000
!*.color0:       #a75648
!*.color8:       #a75648
!*.color1:       #416e83
!*.color9:       #416e83
!*.color2:       #91967a
!*.color10:      #91967a
!*.color3:       #8b6862
!*.color11:      #8b6862
!*.color4:       #3f8183
!*.color12:      #3f8183
!*.color5:       #5b5550
!*.color13:      #5b5550
!*.color6:       #75752d
!*.color14:      #75752d
!*.color7:       #4c585a
!*.color15:      #4c585a
