! xrdb -merge .Xresources

! dwm colors
dwm.selbordercolor:     #ffffff
dwm.normbordercolor:    #404040
dwm.normbgcolor:        #000000
dwm.normfgcolor:        #9e9e9e
dwm.selbgcolor:         #000000
dwm.selfgcolor:         #ffffff

! Default
!*.foreground:   #ffffff
!*.background:   #000000
*.cursorColor:  #ffffff
!*.color0:       #211a22
!*.color8:       #61596d
!*.color1:       #9a6172
!*.color9:       #32598b
!*.color2:       #67628a
!*.color10:      #996c93
!*.color3:       #d961cd
!*.color11:      #a8c0d1
!*.color4:       #758692
!*.color12:      #61596d
!*.color5:       #9a6472
!*.color13:      #32598b
!*.color6:       #67628a
!*.color14:      #996c93
!*.color7:       #d961cd
!*.color15:      #a8c0d1

! Book background (unfinished)
!*.foreground:   #000000
!*.background:   #fff5d1
!*.cursorColor:  #000000
!*.color0:       #002b36
!*.color8:       #657b83
!*.color1:       #dc322f
!*.color9:       #dc322f
!*.color2:       #859900
!*.color10:      #859900
!*.color3:       #b58900
!*.color11:      #b58900
!*.color4:       #268bd2
!*.color12:      #268bd2
!*.color5:       #6c71c4
!*.color13:      #6c71c4
!*.color6:       #5a6968
!*.color14:      #5a6968
!*.color7:       #93a1a1
!*.color15:      #93a1a1
